<ion-view >
   <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      <h1 class="title">
         <img src="img/logo-cervejoteca-simples.png" >
      </h1>
   </ion-nav-buttons>
   <ion-content class="has-header">
      <div class="detail item">
         <div class="item-thumbnail-left">
            <img src="img/logo_teca.png" >

            <div class="item-text-wrap">

               <p><h2><b>Sobre</b></h2></p>
               <p>A Cervejoteca é mais do que uma loja de cervejas especiais, é um espaço para a cultura cervejeira.
               </p>
            </div>
         </div>
         <div class="item-text-wrap">
            <p> Iniciamos as operações em 13 de Junho de 2011 com apenas 240 rótulos, mas já representando muito bem as
               principais escolas cervejeiras do mundo. Com o tempo, muita coisa legal aconteceu, muitos rótulos novos chegaram,
               diversos eventos foram realizados e mais amigos vieram.</p>

            <p>Agora o aplicativo Minha Cervejoteca vem para te aproximar ainda mais do mundo cervejeiro,
               nele você pode consultar informações sobre suas cervejas preferidas de onde você estiver.<br>
               Contando sempre sempre com o conhecimento e experiencia de Ronal Rossi!</p>
            <br/>

            <p><i class="icon ion-beer"></i> Cervejoteca – Mais cerveja, menos frescura </p>
         </div>
      </div>
   </ion-content>
</ion-view>
