<ion-item class="detail item-thumbnail-left">
    <img ng-src="{{beer._source.image_url}}" class="bullet">
    <h2><b>{{beer._source.name}}</b></h2>
    <p>
       {{beer._source.brewery}} <br/>
       {{beer._source.style}}
    </p>
</ion-item>