<ion-view >

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        <h1 class="title">
            <img src="img/logo-cervejoteca-simples.png" >
        </h1>
    </ion-nav-buttons>

    <ion-content class="has-header scroll-content-false">

        <div class="text-center energized-bg padding-bottom padding-top">
            <img ng-src="{{beer.image_url}}" class="avatar">
        </div>
        <div class="text-center padding-bottom padding-top">
            <h3><b>{{beer.name}}</b></h3>
            <h4>
                <a href="#/menu/category/{{beer.style}}" class="subdued">
                    <strong>{{beer.style}}</strong> <i class="icon ion-forward"></i>
                </a>
                <small><strong>ABV: </strong>{{beer.abv}}%</small>
            </h4>
        </div>
        <div class="list">
           <a class="item" href="#/menu/brewery/{{beer.brewery.id}}">
              <i class="icon ion-home"></i>
              {{beer.brewery.name}} <i class="icon ion-forward"></i>
           </a>
           <div class="item">
              <i class="icon ion-waterdrop"></i>
              <strong>IBU: </strong> {{beer.ibu}}%
           </div>
            <div class="item item-text-wrap">
                <i class="icon ion-document-text"></i>
                {{beer.description}}
            </div>
        </div>

    </ion-content>
</ion-view>
