<ion-view title="">

   <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      <h1 class="title">
         <img src="img/logo-cervejoteca-simples.png" >
      </h1>
   </ion-nav-buttons>

   <div class="bar bar-subheader item-input-inset">
      <label class="item-input-wrapper">
         <i class="icon ion-search placeholder-icon"></i>
         <input id="searchKey" type="search" placeholder="Pesquisa" ng-model="searchKey" ng-change="search()"
                autocorrect="off">
         <!--<i class="icon ion-close placeholder-icon" ng-click="clearSearch()" ng-show="searchKey.length !== 0"></i>-->
      </label>
      <i class="button button-icon icon ion-ios7-barcode-outline" ng-click="scan()"></i>
   </div>

   <ion-content class="has-header has-subheader">

      <ion-list ng-show="searchKey.length != 0">
         <!--<beer-item ng-repeat="beer in beers" href="#" ng-click="updateEan('{{ean}}','{{beer._sourceid}}')" ng-if="ean.length !== 0"></beer-item>-->

         <beer-item ng-repeat="beer in beers" href="#/menu/beers/{{beer._id}}" ng-if="ean.length === 0"></beer-item>
      </ion-list>

      <div ng-show="searchKey.length === 0" class="news">

         <br/>

         <ion-slide-box show-pager="true">
            <ion-slide ng-repeat="beer in newBeers">
               <a href="#/menu/beers/{{beer._id}}" class="item item-image">
                  <div class="list card">
                     <div class="item item-divider">
                        <h2>{{beer._source.name}}</h2>
                     </div>
                     <div class="item item-body">
                        <img class="full-image" ng-src="{{beer._source.image_url}}">
                     </div>
                  </div>
               </a>
            </ion-slide>
         </ion-slide-box>
      </div>

   </ion-content>

</ion-view>
