<div ng-controller="TabCtrl">

    <ion-view >
        <ion-nav-buttons side="left">
            <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
            <h1 class="title">
                <img src="img/logo-cervejoteca-simples.png" >
            </h1>
        </ion-nav-buttons>

        <ion-tabs class="tabs-striped tabs-background-dark tabs-color-energized tabs-icon-left">

            <ion-tab title="Detalhe" icon="icon ion-document-text">
                <ion-content has-tabs="true" padding="false">

                   <div class="list card">
                      <div class="item item-avatar energized-bg">
                         <img ng-src="{{brewery.image_url}}">
                         <h2><b>{{brewery.name}}</b></h2>
                         <p>
                            {{brewery.country}}<br>
                            <a href="{{brewery.url}}" target="_blank" class="subdued">{{brewery.url}}</a>
                         </p>
                      </div>
                      <div class="item item-body">
                         <p>{{brewery.description}}</p>
                      </div>
                   </div>

                </ion-content>
            </ion-tab>

            <ion-tab title="Cervejas" icon-on="icon ion-beer" icon-off="icon ion-beer">
                <ion-content class="has-header" has-tabs="true" padding="false">

                    <ion-list ng-controller="BeersByBreweryCtrl">
                        <beer-item ng-show="beers.length" ng-repeat="beer in beers" href="#/menu/beers/{{beer.id}}"></beer-item>
                        <ion-item ng-hide="beers.length"><i class="icon ion-sad"></i> Nenhuma Cerveja encontrada para esse Estilo!</ion-item>
                    </ion-list>

                </ion-content>
            </ion-tab>

        </ion-tabs>
    </ion-view>
</div>
