<div ng-controller="TabCtrl" >

    <ion-view title="Estilo" left-buttons="leftButtons">

        <ion-tabs class="tabs-striped tabs-background-dark tabs-color-energized tabs-icon-left">

            <ion-tab title="Detalhe" icon="icon ion-document-text">
                <ion-content has-tabs="true">
                    <div class="card">
                        <div class="item item-divider"><p><b>{{subcategory.name}}</b></p></div>
                        <div class="item item-text-wrap">{{subcategory.comments}}</div>
                    </div>
                    <div class="card">
                        <div class="item item-divider"><p><b>Aroma</b></p></div>
                        <div class="item item-text-wrap">{{subcategory.aroma}}</div>
                    </div>
                    <div class="card">
                        <div class="item item-divider"><p><b>Aparencia</b></p></div>
                        <div class="item item-text-wrap">{{subcategory.appearance}}</p></div>
                    </div>
                    <div class="card">
                        <div class="item item-divider"><p><b>Sabor</b><br/></p></div>
                        <div class="item item-text-wrap">{{subcategory.flavor}}</p></div>
                    </div>
                    <div class="card">
                        <div class="item item-divider"><p><b>Paladar</b><br/></div>
                        <div class="item item-text-wrap">{{subcategory.mouthfell}}</p></div>
                    </div>
                    <div class="card">
                        <div class="item item-divider"><p><b>Impressão</b><br/></div>
                        <div class="item item-text-wrap">{{subcategory.impression}}</p></div>
                    </div>
                    <div class="card">
                        <div class="item item-divider"><p><b>History</b><br/></div>
                        <div class="item item-text-wrap">{{subcategory.history}}</p></div>
                    </div>
                    <div class="card">
                        <div class="item item-divider"><p><b>Notas</b></div>
                        <div class="item item-text-wrap">
                        {{subcategory.notes}}</p>
                        <p><b>OG </b><br/>{{subcategory.og.low}} - {{subcategory.og.high}}</p>

                        <p><b>FG </b><br/>{{subcategory.fg.low}} - {{subcategory.fg.high}}</p>

                        <p><b>IBUs </b><br/>{{subcategory.ibu.low}} - {{subcategory.ibu.high}}</p>

                        <p><b>SRM </b><br/>{{subcategory.srm.low}} - {{subcategory.srm.high}}</p>

                        <p><b>ABV </b><br/>{{subcategory.abv.low}} - {{subcategory.abv.high}}</p>
                        </div>
                    </div>
                </ion-content>
            </ion-tab>

            <ion-tab title="Cervejas" icon-on="icon ion-beer" icon-off="icon ion-beer">
                <ion-content has-tabs="true">
                    <ion-list ng-controller="BeersByStyle">
                        <beer-item ng-show="beers.length" ng-repeat="beer in beers" href="#/menu/beers/{{beer.id}}"></beer-item>
                        <ion-item ng-hide="beers.length"><i class="icon ion-sad"></i> Nenhuma Cerveja encontrada para esse Estilo!</ion-item>
                    </ion-list>
                </ion-content>
            </ion-tab>
        </ion-tabs>
    </ion-view>
</div>

