<ion-side-menus>

    <ion-pane ion-side-menu-content>
        <ion-nav-bar class="bar-energized nav-title-slide-ios7">
            <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i></ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-pane>

    <ion-side-menu side="left">
        <header class="bar bar-header bar-energized">
            <h1 class="title">
                <img src="img/logo-cervejoteca-simples.png" >
            </h1>
        </header>
        <ion-content class="has-header">
            <ion-list>
                <ion-item nav-clear menu-close href="#/menu/home">
                    <i class="icon ion-home"></i>
                    Novidades
                </ion-item>
                <ion-item nav-clear menu-close href="#/menu/styles">
                    <i class="icon ion-funnel"></i>
                    Estilos
                </ion-item>
                <ion-item nav-clear menu-close href="#/menu/about">
                    <i class="icon ion-information-circled"></i>
                    Sobre
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>

</ion-side-menus>
