<ion-view >

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
       <h1 class="title">
          <img src="img/logo-cervejoteca-simples.png" >
       </h1>
    </ion-nav-buttons>

    <ion-content class="has-header">

       <div class="card" ng-repeat="organization in ornganizations">

          <div class="item item-divider">
             {{organization.name}}
          </div>

          <div class="item item-text-wrap" ng-if="organization.descricao">
             <p>{{organization.descricao}}</p>

             <div>
                <button class="button button-small button-energized icon-right" ng-class="{'ion-ios7-arrow-right':!organization.showingStyles, 'ion-ios7-arrow-down': organization.showingStyles}" ng-click="toggleStyles(organization)">
                   <strong>{{organization.showingStyles ? 'Ocultar': 'Mostrar'}} Estilos</strong>
                </button>
             </div>

             <div ng-show="organization.showingStyles">
                <div ng-repeat="style in organization.styles">
                   <ion-item class="item-stable" ng-click="toggleGroup(style)">
                      <i class="icon" ng-class="isGroupShown(style) ? 'ion-minus' : 'ion-plus'"></i>
                      &nbsp;
                      <b>{{style.name}}</b>
                   </ion-item>
                   <div ng-repeat="category in style.subCategories">
                      <a class="item" ng-repeat="category in style.subCategories"
                         ng-href="#/menu/category/{{category.name}}"
                         ng-show="isGroupShown(style)">
                         {{category.name}}
                      </a>
                   </div>
                </div>
             </div>
          </div>
       </div>

    </ion-content>
</ion-view>
