<ion-view title="style.name" left-buttons="leftButtons">
    <ion-content class="has-header" padding="true">

        <div class="detail card item item-avatar">
            <h2>{{style.name}}</h2>
        </div>

        <div class="list" ng-controller="StyleDetailCtrl" ng>
            <a ng-repeat="subcategory in subcategories" class="item item-avatar">
                <h2>{{subcategory.name}}</h2>
            </a>
        </div>

    </ion-content>
</ion-view>
