.menu {
  color: $menu-font;
  background-color: $menu-color;
}

.menu .list .item {
  color: $menu-font;
  background-color: $menu-color;
}

.mainList .item{
  background-color: transparent;
  border: none;
  padding: 10px;

  .link{
    border-radius: 15px;
    padding: 15px;
    margin: 5px 10px;
    background-color: $dashboard-font;
  }

  .item-avatar img.bullet {
    left: 0px;
  }

  .item-avatar{
    padding: 5px;
    padding-left: 80px;

    .card{
      margin: 0px;
      border-radius: 15px;
      padding: 10px;

      p{
        margin: 0px;
      }
    }
  }
}

.detail{
  padding: 15px;
  border-radius: 15px;
  margin: 5px;
}
.detail.item.item-avatar{
  padding-left: 100px;
}
.item-avatar img.bullet,
.bullet {
  border-radius: 50%;
  max-width: 70px;
  max-height: 70px;
}

.tabs-secondary {
  border: 0px;
}
.news {
  width: 100%;
  padding: 5dpi;

  .news-item{
    float: left;
    position: relative;
    width: 50%;
    height: 85px;
    display: inline-block;
    overflow: hidden;
    border: 2px solid $body;

    img{
      width: 100%;
    }
    .description{
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      color: #ffffff;
      font-size: 14px;
      font-weight: bold;
      font-family: sans-serif ;
      //text-shadow: 2px 2px 5px #000000;
      text-shadow: 0.2em 0.2em 0.2em #000;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      background: linear-gradient(to bottom, rgba(0,0,0,0.50) 0%,rgba(0,0,0,0) 50%);
      padding: 5px;
    }
  }
}