$header: #AD3939 !default;
$header-border: #ad080e !default;
$body: #ffffff !default;
$font-header: #fff;
$body-font: #666666;

$menu-header: #666666;
$menu-header-font: #FFFFFF;
$menu-color: #EEEEEE;
$menu-font: #666666;


$dashboard-font: #eeeeee;